body {
  min-height: 2000px;
  background-color:#178ac5;
}

.header-font{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #black;
  text-align: left;
  margin-bottom: 20px;
}

.label-font{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #black;
  text-align: left;
  margin-bottom: 20px;
}

.nav-tabs>li {
  background: #d2d2d2;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #0a84c1;
  display: block;
  font-size: 16px;
  margin-right: 6px;
  border:0px;
}
.nav-tabs>li>a{
  margin-right:0px;
}

.nav-tabs>li >active{
  background:linear-gradient(to bottom, #fbfbfb 0%, #ffffff 64%);
}

.navbar-static-top {
  margin-bottom: 19px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
